{% extends "PHRentalsMainBundle::outside.html.twig" %}

{% block title %}Property Online Listing Form : Delete a Listing{% endblock %}

{% block form %}
<div id=content-form>
<h1>Property Online Listing Form : Delete a Listing</h1>

{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}

{% if entity.status|slice(0,1)<3 %}
	{% if entity.unit %}
	<p class=update-text>
	{{ text.delete|raw }}
		<br/><br/>
	<form name="outside-form" id="outside-form" action="{{ path('outside_delete', { 'link': entity.link }) }}" method="post" {{ form_enctype(edit_form) }}>
		<div>
		{{ form_label(edit_form.toDelete, 'Select a reason') }}
		{{ form_errors(edit_form.toDelete) }}
		{{ form_widget(edit_form.toDelete) }}
		</div>
		<div>
		{{ form_label(edit_form.toDeleteText, 'Remarks') }}
		{{ form_errors(edit_form.toDeleteText) }}
		{{ form_widget(edit_form.toDeleteText) }}
		</div>
		<input id="submit" class="bouton" type="submit" value="Submit to Powerhouse Properties">
	</form>
	</p>
	{% else %}
	<p class=update-text>This listing cannot be deleted.</p>
	{% endif %}
{% else %}
<p class=update-text>This listing cannot be deleted.</p>
{% endif %}

</div>

{% endblock %}